.product-container {
  .content {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .product-figure {
    float: left;
    max-width: 550px;
    margin: 0 20px 20px 0;
    display: block;
    @media only screen and (max-width: 991px) {
      float: none;
      max-width: 100%;
    }
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}